# Application
APP_NAME                    = "Secret Management Service"
APP_DEBUG                   = false
DOCS_ENABLED                = false

# API
API_V1_PREFIX               = /api/v1

# PostgreSQL
POSTGRES_HOST               = postgres
POSTGRES_PORT               = 5432
POSTGRES_DB                 = secret_manager
POSTGRES_USER               = secret_manager
POSTGRES_PASSWORD           = change_me

# Security
JWT_SECRET_KEY              = change_me
JWT_ALGORITHM               = HS256
ACCESS_TOKEN_EXPIRE_MINUTES = 30
API_KEY_PEPPER              = change_me

# Encryption
MASTER_KEY_FILE             = /run/secrets/sms_master_key
ENCRYPTION_KEY_VERSION      = local-v1

# Logging
LOG_LEVEL                   = INFO
